body {
  font-family: sans-serif;
  background: #292929;
}

h1 {
  color: #fff;
}

.btn {
  padding: 1rem;
  background-color: salmon;
  border-radius: 0.5rem;
  color: white;
  font-size: larger;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.input-container {
  margin: 2rem 0;
}

input{
    padding: 0.5rem 1rem;
    width: 300px;
    border-radius: 1rem;
    border-color: transparent;
    outline: none;
    font-size: 1rem;
}
